@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Filmster was brought about by the requirement of displaying MVC and database modelling features to satisfy an assignment.</p>
<p>As a result, what you have before you is a substandard attempt at a useful web application.</p>
<p>Enjoy!</p>
