@{
    ViewBag.Title = "Filmster - Home";
}
    <body>


        <div class="jumbotron">
            <h1>Filmster!</h1>

        </div>
        <p class="lead home-text">Your new home for finding out stuff about films</p>
        <div class="film-image">
            <img class="main-image" src="~/ContentImages/movies.jpg"/>
        </div>
    </body>
